@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #50abf5;
  --secondary-color: #f6f9fb;
  --light-shade-color: #aec0ca;
  --medium-shade-color: #668799;
  --dark-shade-color: #1f4e69;
  --white-color: #ffffff;
  --red-shade-600: #dc2626;
  --red-shade-700: #b91c1c;
  --orange-shade-600: #ea580c;
  --green-shade-600: #16a34a;
}

.App {
  max-width: 100vw;
  /* min-height: 100vh; */
  background-color: var(--secondary-color);
  color: var(--dark-shade-color);
  font-family: "Shantell Sans", cursive;
}

.section {
  min-height: calc(100vh - 4rem - 4rem);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button,
label,
select {
  cursor: pointer;
  font-family: "Shantell Sans", cursive;
}
